/*___________________________________________________General Settings___________________________________________*/
* {
	margin: 0;
}

body {
    font-family: "Philosopher", 'Montserrat', 'Roboto', sans-serif;
    margin: 0;
    font-size: 20px; 
    color: black;
    background-color: white;
}

header {
	height: 108svh;
	background-size:cover;
	background-attachment: fixed;
	background-position: center top;
}
nav {
	padding: 8px 4% 0 4%;
	display: flex; 
	position: relative;
	justify-content: space-between;
	align-items: center;
}

#nome {
	font-size: 44px;
	margin: 0;
}

.nav-menu a:link,
.nav-menu a:visited {
	color: black;
	font-size: 20px;
	text-decoration: none;
	margin-right: 30px;
}

.nav-menu a:hover,
.nav-menu :active {
	color:rgba(39, 116, 116, 0.6);
}

.icon {
	display: none;
	top: 0; 
	align-items: normal;
}

.container--margin {
	margin:0px 10% 0 10%;

}

#buttons {
	position: relative;
}

#collapse--background {
	z-index: 1;
	display: block;
	position: absolute;
	/* transform: scale(1.5); */
	/* border-radius: 20%; */
	height:100%;
	width: 100%;
	/* background:linear-gradient(to bottom, rgba(255, 255, 255,0) 5%, rgba(255,255,255,0.7)); */
}

 #collapse--menu {
	display: flex;
	position: absolute;
	top: 70px;
	right: 1%;				
	margin-right: 0;
	/* transform: translate(25%, 0); */
	flex-direction: column;
	gap: 10px;
}

#collapse--menu.responsive {
	display: none;
}

#collapse--menu a {
	z-index: 2;
	color: black;
	font-size: 19px;
	text-decoration: none;
	padding: 5px 0px;
}

footer {
	margin: 50px 10% 30px 10%;
	/* margin-bottom: 30px; */
	text-align: center;
}
footer p {
	margin: 10px 0px;
}

/*___________________________________________________Index___________________________________________*/

header.index {
	background-image: url("Fotos/Main1500x1000.jpg");
}

.header--gradient {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0,0,0,1));
	height: 108svh;
	background-size:cover;
	background-attachment: scroll;
}

#Mega {
	margin: 0 20% 0 20%;
}

.upcomingconcerts {
	margin-bottom: 80px;
}

#year {
	font-size: 32px;
	font-weight: bold;
	color: rgba(7, 112, 232, 0.82);
	margin: 40px 0 0 40px;
}
.myconcerts {
	display: flex;
	justify-content: center;
	gap: 35px;
	align-items: center;
	padding: 12px;
	margin: 0;
	font-size: 25px;
}

.btn--previousconcerts {
	cursor: pointer;
}

#Mega2 .pastconcerts {
	display: none;
	opacity: 0;
	transition: opacity 1s ease;
}

#Mega2 .pastconcerts.showconcerts {
	display: block;
	opacity: 1;
}

.afterpreviousconcerts {
	margin-top: 125px;
}

#Mega2 {
	margin: 85px 10% 0 10%;	
}

.concerts2 {
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: rgba(39, 116, 116, 0.4);
	margin: 20px 0 20px 0;
}

.concerts2 h5 {
	font-size: 18px;
	margin: 0px ;
}
.concerts2 p {
	margin-top: 10px;
	margin-bottom: 0px;
}

.ConcDate {
	width: 20%;
}
.ConcInfo {
	width: 60%;
}
.ConcLink {
	text-align: center;
	width: 20%;
}
.ConcLink a:hover {
	color: rgba(124, 62, 186, 0.678)
}
.ConcDate p {
	margin-top: 5px;
}

/*___________________________________________________BIOPAGE___________________________________________*/
header.biopage {
	background-image: url("Fotos/Bio2000x1333.jpg");
	background-position: 35% top;
}

.bio {
	margin: 70px 22% 60px 22%;
}

.bandsdiv {
	text-align: center;
	margin: 0 0 70px 0;
}
.bands {
	margin: 0px 5% 0px 5%;
	padding: 10px;
	color:black;
	text-decoration: none;
	background-color: rgba(39, 116, 116, 0.2);
  }

/*___________________________________________________MEDIAPAGE___________________________________________*/
header.mediapage{
	background-image: url("Fotos/Media2000x1333.jpg");
	background-position: 40% top;
}

.white {
	color: white;
}

#buttons.white a {
	color: white;
}

#collapse--menu.white a {
	color: white;
}

#collapse--menu.white a:hover {
	color:rgba(39, 116, 116, 0.6);
}

/* ^SLIDER! */

.slider {
	position: relative;
	display: block;
	overflow:hidden;
	border-radius: 2px;
	height: 635px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.slider .slide-text {
	overflow: visible;
}

.slide {
	opacity: 0;
}

.picture-slide {
	position: absolute;
	margin-left: 50%;
	margin-top: 15px;
	transform: translate(-50%, 0%);
	max-height: 570px;
	/* max-width: 100%; */
}

.slide[data-active] {
	opacity: 1;
}

.slide > p {
	color: rgb(0, 0, 0);
	position: absolute;
	display: block;
	right: auto;
	text-align: center;
	top: 590px;
	height: 100px;
	width: 100%;
}

.carousel-button{
	position: absolute;
	z-index: 2;
	background: none;
	border: none;
	font-size: 3rem;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(0, 0, 0);
	cursor: pointer;
	padding: 20px;
}

.carousel-button:hover,
.carousel-button:focus {
	color: rgb(94, 94, 94);
}



.carousel-button.next {
	right: 0;
}

.accordeon {
	display: flex;
	padding: 20px 0px;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0px;
}

.accordeon-div {
	width: 300px;
	padding: 0px 30px 30px 0;
	display: flex;
	flex-direction: column;
}

.accordeon-div > h5 {
	text-align: center;
	margin-top: 150px;
}

.image-div {
	max-width: 500px;
	max-height: 500px;
	display: block;
	position: relative;
	padding-top: 60px;
}

.accordeon-photo {
	
	box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	max-width: 200px;
	max-height: 133px;
	right: 60px;
	border-radius: 4px;
	/* box-shadow: 1px 20px; */
	transition: all 0.15s ease-in-out;
}

.accordeon:has(.accordeon-photo:hover) img:not(:hover) {
	filter: brightness(50%);
}

/* Que é que faz isto?! */
/* .image-div:has(.accordeon-photo:hover) img:hover:nth-child(n + )  {	
transform: translate(20px, 20px);
} */

/* Imagens que vêm depois da imagem hovered */
.image-div:hover img:hover ~ img {
	right: 0px;
}

/* Îmagem hovered e imagens que vêm antes da imagem hovered */
.image-div img:nth-child(-n+999):has(~ img:hover) {
	right: 90px;
	/* border-radius: 50%; */
}

.accordeon-photo:hover {
	max-width: 270px;
	max-height: 223px;
	z-index: 999 !important;
	cursor: pointer;
}

.accordeon-photo:not(:first-child):hover {
	right: 20px;
	/* right: 120px; */
}


/* Outras cenas */

.media1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }

.media2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }

.picture {
	max-width: 380px; /* Adjust the width as needed */
	width: 90%;
	margin: 10px; /* Adjust the margin as needed */
	object-fit: cover; /* Preserve aspect ratio, cropping if necessary */
  }
.picture2 {
	max-width: 580px; /* Adjust the width as needed */
	margin: 10px; /* Adjust the margin as needed */
	object-fit: cover; /* Preserve aspect ratio, cropping if necessary */
	width: 90%;
  }

.media3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }

  .media4 {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }


/*___________________________________________________CONTACTPAGE___________________________________________*/

header.contactpage {
	background-image: url("Fotos/Contact2000x1333.jpg");
	background-position: 60% top;
}

#contactdiv {
	margin: 100px 30% 50px 30%;
}

label {
	display:contents;
	margin-bottom: 8px;
}

input, textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.subj {
	display: none;
	margin: 0px;
}

#subject {
	display:none;
	padding:0px;
	margin:0px;
	border:none;
}

.submit {
	display: inline-block;	
	margin-left:50%;
	margin-top: 13px;
	transform: translate(-50%, 0);
	font-size: 19px;
	background-color: rgba(39, 116, 116, 0.8);
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;

}

.submit:hover {
	background-color: rgba(39, 116, 116, 0.6);
}

/*______________________________________________________MEDIA QUERIES_________________________________________*/

/* If you mess with the screen */
@media screen and (min-width: 1151px) {
	#collapse--menu {
		display: none;
	}
}


@media screen and (max-width: 1150px) {
	
	.icon {
		display:block;
	}
	.nav-menu a:not(.icon) {
		display: none;
	}
	#collapse--background {
		transition: 1s;
		border-radius: 10%;
		/* transform: translate(-5%, 0); */
		transform: scale(115%);
		
	}
	.concerts2 .ConcDate b {
		display: inline-block;
		max-width: 80px;
	}
}

@media screen and (max-width: 650px) {
	
	header {
		background-attachment: scroll;
	}

	.container--margin {
		margin: 0 2% 0 2%;
	}

	#nome {
		font-size: 33px;
		width:50px;
	}
	
	#collapse--menu {

		top: 90px;
		gap: 8px;
		transform: translate(4%, 0);
	}

	#collapse--background {
		background:linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 5%, rgba(255,255,255,0.4));
	}

	#collapse--menu a {
		font-size: 18px;
		/* color: #ffdcdc */
	}

	.bio {
		margin: 70px 16% 60px 16%;
		font-size: 16px;
	}

	.myconcerts h2 {
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
	}

	.concerts2 {
		padding: 8px;
		justify-content: space-between;
	}

	.concerts2 .ConcDate b {
		display: inline-block;
		max-width: 55px;
	}
	
	.ConcDate {
		font-size: 13px;
		width: 20%;
	}

	.ConcDate p {
		font-size: 12px;
	}

	.ConcLink {
		font-size: 11px;
		margin-left: 0px;
		padding-right: 0px;
		width: 15%;
	}

	.concerts2 .ConcInfo p {
		font-size:12px;
	}

	.concerts2 .ConcInfo h5 {
		font-size: 14px;	
	}

	footer {
		font-size: 10px;
	}
}



@media screen and (max-width: 980px) {

.slider {
	height: 500px;
}
.picture-slide {
	max-height: 420px;
}
.slide > p {
	top: 450px;
}
}

@media screen and (max-width: 715px) {
	.slider {
		height: 400px;
	}
	.picture-slide {
		max-height: 330px;
	}
	.slide > p {
		top: 350px;
	}
}

@media screen and (max-width: 600px) {
	.slider {
		height: 300px;
	}
	.picture-slide {
		max-height: 230px;
	}
	.slide > p {
		top: 250px;
	}

}

@media screen and (max-width: 400px) {
.carousel-button{
	font-size: 2.5rem;
	color: rgb(168, 168, 168);
}

.carousel-button:hover,
.carousel-button:focus {
	color: rgb(207, 207, 207);
	
}

.slide > p {
	font-size: 1rem;
}

}